@page "/autotest"
@inject NavigationManager NavigationManager

@if (!ShowResults)
{
    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenStack Style="width:650px">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenText>
                    Read the requirements for the functionality of the page, analyze HTML code of 
                    the page and the description of the tests to be passed and write them.
                </RadzenText>

                <RadzenButton Style="background-color:  #13bb03;width: 40%;height: 80%;" Click=@(() => ShowResults = true)>
                    Finish test
                </RadzenButton>
            </RadzenStack>

            <RadzenText>
                <p>
                    You are testing the page <a href="https://formstesting/testform" target="_blank">https://formstesting/testform</a>.
                    The title of the page should be "Sample Form" when it is opened. The user enters the name,
                    password, and email, then clicks submit. A message "Form submitted successfully!" should display for valid data.
                    Test the following cases:
                </p>
                <ul>
                    <li>Valid data</li>
                    <li>Missing name</li>
                    <li>Invalid email</li>
                    <li>Missing password</li>
                </ul>
            </RadzenText>

            <RadzenImage Path="./assets/images/autotest-photo.png">

            </RadzenImage>
        </RadzenStack>

        <RadzenStack Style="width: 800px">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenButton Style="background-color: #d9d9d9" Text="+" Click="AddNewTest" />

                @foreach (var test in Tests)
                {
                    <RadzenButton Style="background-color: #d9d9d9" Icon="cancel" IconColor="#000" Click=@(() => Index = test.TestId)>
                        @($"Test {test.TestId + 1}")
                    </RadzenButton>
                }
            </RadzenStack>

            @if (Tests.Count > 0)
            {
                <RadzenStack Style="margin-top: 30px; gap: 5px">
                    <!-- Header Row -->
                    <RadzenStack Orientation="Orientation.Horizontal" Style="font-weight: bold; margin-bottom: 5px;">
                        <RadzenText Style="width: 30%;" Text="Command" />
                        <RadzenText Style="width: 30%;" Text="Target" />
                        <RadzenText Style="width: 30%;" Text="Value" />
                    </RadzenStack>

                    <!-- Dropdown Rows -->
                    @foreach (var t in Tests[Index].Commands)
                    {
                        <RadzenStack Orientation="Orientation.Horizontal">
                            <RadzenDropDown Data="CommandData" TValue="string" Placeholder="Command" @bind-Value="@t.Command" Style="width:30%" />
                            <RadzenDropDown Data="TargetData" TValue="string" Placeholder="Target" @bind-Value="@t.Target" Style="width:30%" />
                            <RadzenDropDown Data="ValueData" TValue="string" Placeholder="Value" @bind-Value="@t.Value" Style="width: 30%" />
                        </RadzenStack>
                    }
                </RadzenStack>
            }

        </RadzenStack>
    </RadzenStack>
}
else
{
    <RadzenStack Style="width: 100%">
        <RadzenButton Style="background-color: #d9d9d9"
                      Click=@(() => NavigationManager.NavigateTo("/tests"))>
            Back
        </RadzenButton>
    </RadzenStack>

    <RadzenStack Style="gap:0px;border: 1px solid #808080;margin:10px; border-radius 10px;">
        <RadzenText Style="width: 100%;text-align: center" Text="Test 1"/>

        @if (Tests[0].Commands[0].ToString() == "open\t/path/to/your/html/file\t-")
        {
            <RadzenText Text=@($"{Tests[0].Commands[0].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[0].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[1].ToString() == "assertTitle\tSample Form\t-")
        {
            <RadzenText Text=@($"{Tests[0].Commands[1].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[1].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[2].ToString() == "type\tcss=#username\tTestUser")
        {
            <RadzenText Text=@($"{Tests[0].Commands[2].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[2].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[3].ToString() == "type\tcss=#email\ttestuser@example.com")
        {
            <RadzenText Text=@($"{Tests[0].Commands[3].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[3].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[4].ToString() == "type\tcss=#password\tPassword123")
        {
            <RadzenText Text=@($"{Tests[0].Commands[4].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[4].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[5].ToString() == "click\tcss=#submit-button\t-")
        {
            <RadzenText Text=@($"{Tests[0].Commands[5].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[5].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
        
        @if (Tests[0].Commands[6].ToString() == "assertText\tcss=#success-message\tForm submitted successfully!")
        {
            <RadzenText Text=@($"{Tests[0].Commands[6].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[0].Commands[6].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
    </RadzenStack>

    <RadzenStack Style="gap:0px;border: 1px solid #808080;margin:10px; border-radius 10px;">
        <RadzenText Style="width: 100%;text-align: center" Text="Test 2" />

        @if (Tests[1].Commands[0].ToString() == "open\t/path/to/your/html/file\t-")
        {
            <RadzenText Text=@($"{Tests[1].Commands[0].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[0].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[1].Commands[1].ToString() == "assertTitle\tSample Form\t-")
        {
            <RadzenText Text=@($"{Tests[1].Commands[1].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[1].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[1].Commands[2].ToString() == "type\tcss=#email\ttestuser@example.com")
        {
            <RadzenText Text=@($"{Tests[1].Commands[2].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[2].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[1].Commands[3].ToString() == "type\tcss=#password\tPassword123")
        {
            <RadzenText Text=@($"{Tests[1].Commands[3].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[3].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[1].Commands[4].ToString() == "click\tcss=#submit-button\t-")
        {
            <RadzenText Text=@($"{Tests[1].Commands[4].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[4].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[1].Commands[5].ToString() == "assertNotVisible\tcss=#success-message\t-")
        {
            <RadzenText Text=@($"{Tests[1].Commands[5].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[1].Commands[5].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

    </RadzenStack>

    <RadzenStack Style="gap:0px;border: 1px solid #808080;margin:10px; border-radius 10px;">
        <RadzenText Style="width: 100%;text-align: center" Text="Test 3" />

        @if (Tests[2].Commands[0].ToString() == "open\t/path/to/your/html/file\t-")
        {
            <RadzenText Text=@($"{Tests[2].Commands[0].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[0].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[1].ToString() == "assertTitle\tSample Form\t-")
        {
            <RadzenText Text=@($"{Tests[2].Commands[1].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[1].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[2].ToString() == "type\tcss=#username\tTestUser")
        {
            <RadzenText Text=@($"{Tests[2].Commands[2].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[2].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[3].ToString() == "type\tcss=#email\tinvalid-email-format")
        {
            <RadzenText Text=@($"{Tests[2].Commands[3].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[3].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[4].ToString() == "type\tcss=#password\tPassword123")
        {
            <RadzenText Text=@($"{Tests[2].Commands[4].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[4].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[5].ToString() == "type\tcss=#password\tPassword123")
        {
            <RadzenText Text=@($"{Tests[2].Commands[5].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[5].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[2].Commands[6].ToString() == "click\tcss=#submit-button\t-")
        {
            <RadzenText Text=@($"{Tests[2].Commands[6].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[2].Commands[6].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }
    </RadzenStack>

    <RadzenStack Style="gap:0px;border: 1px solid #808080;margin:10px; border-radius 10px;">
        <RadzenText Style="width: 100%;text-align: center" Text="Test 4" />

        @if (Tests[3].Commands[0].ToString() == "open\t/path/to/your/html/file\t-")
        {
            <RadzenText Text=@($"{Tests[3].Commands[0].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[0].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[3].Commands[1].ToString() == "assertTitle\tSample Form\t-")
        {
            <RadzenText Text=@($"{Tests[3].Commands[1].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[1].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[3].Commands[2].ToString() == "type\tcss=#username\tTestUser")
        {
            <RadzenText Text=@($"{Tests[3].Commands[2].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[2].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[3].Commands[3].ToString() == "type\tcss=#email\ttestuser@example.com")
        {
            <RadzenText Text=@($"{Tests[3].Commands[3].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[3].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[3].Commands[4].ToString() == "click\tcss=#submit-button\t-")
        {
            <RadzenText Text=@($"{Tests[3].Commands[4].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[4].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

        @if (Tests[3].Commands[5].ToString() == "assertNotVisible\tcss=#success-message\t-")
        {
            <RadzenText Text=@($"{Tests[3].Commands[5].ToString()}") Style="color: green; white-space: pre;"></RadzenText>
        }
        else
        {
            <RadzenText Text=@($"{Tests[3].Commands[5].ToString()}") Style="color: red; white-space: pre;"></RadzenText>
        }

    </RadzenStack>
}

@code {

    public class CommandModel
    {
        public string Command { get; set; }
        public string Value { get; set; }
        public string Target { get; set; }

        public override string ToString()
        {
            return "\t" + Command + "\t" + Target + "\t" + Value;
        }
    }

    public class TestModel
    {
        public int TestId { get; set; }

        public List<CommandModel> Commands { get; set; }
            = [new(), new(), new(), new(), new(), new(), new()];
    }

    public List<TestModel> Tests = [];
    public int Index;

    private void AddNewTest()
    {
        Tests.Add(new TestModel()
        {
            TestId = Tests.Count,
        });

        Index = Tests.Count - 1;
        StateHasChanged();
    }

    public List<string> CommandData = [
        "open", "type", "click", "assertText", "assertNotVisible", "assertTitle"];
    public List<string> TargetData =
    [
        "/path/to/your/html/file",
        "Sample Form",
        "css=#username",
        "css=#email",
        "css=#password",
        "css=#submit-button",
        "css=#success-message",
        "title",
        "css=username",
        "css=email",
        "css=password",
        "css=success-message"
    ];
    List<string> ValueData =
    [
        "-",
        "TestUser",
        "testuser@example.com",
        "Password123",
        "Form submitted successfully!",
        "invalid-email-format",
        "Form submitted unsuccessfully!",
        "Sample Form"
    ];

    public bool ShowResults = false;


}
